{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil!{% endtrans %}{% endblock %}

{% block body %}
    <div class="header" style="background: white">
        <img src="img/logo_fond_transparent.png" alt="logo Cosmo&Bio">
    </div>
{% endblock %}