{% extends 'base.html.twig' %}

{% block title %}{% trans %}Accueil!{% endtrans %}{% endblock %}

{% block body %}



            <!-- Portfolio Single Video ============================================= -->
            <div class="portfolio-single-image portfolio-single-image-full">
                <div class="video-wrap">
                    <video poster="images/videos/explore-poster.jpg" preload="auto" loop autoplay muted>
                        <source src="images/videos/explore.mp4" type='video/mp4' />
                        <source src="images/videos/explore.webm" type='video/webm' />
                    </video>
                    <div class="video-overlay"></div>
                </div>
            </div>





{% endblock %}